* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: Fira Code;
    src: url("./FiraCode-VariableFont_wght.ttf");
}
:root{
    --bg: #32363a;
    --black: #32363a;
    --font: Fira Code, monospace, serif;

    --orange:   #fe926d;
    --yellow:   #FFCB6B;
    --green :   #acff95;
    --teal:     #7deabb;
    --blue:     #6cdae7;
    --purple:   #c180f7;

    --text :    #d2d4d5;
    --light:    #b7c4c9;
    --comment:  #899397;
}
body {
    background-color: #282b2e;
    font-family: var(--font);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    margin-bottom: 50px;
    font-size: 46px;
    background: linear-gradient(
       25deg, var(--blue),var(--yellow));
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}   
h2{
    color: var(--text);
    margin-top: 20px;
    margin-bottom: 20px;
}
p,h3{
    color: var(--text);
}
h3{
    font-weight: 300;
}
a{
    text-decoration: none;
    color: var(--yellow);
    transition: 0.2s ease-in-out;
}
a:hover{
    color: var(--blue);
}
.row{
    display: flex;  
}
.color{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    filter: drop-shadow(0 5px 10px rgba(0,0,0,0.4));
    margin: 10px;
    transition: all 0.1s ease-in-out;
}
.text{
    background-color: #32363a;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    z-index: 100;
    top: -40px;
    left: -20px;
}
.color:hover{
    transform: translateY(5px);
}
.orange{
    background-color: var(--orange);
}
.yellow{
    background-color: var(--yellow);
}
.green{
    background-color: var(--green);
}
.teal{
    background-color: var(--teal);
}
.blue{
    background-color: var(--blue);
}
.purple{
    background-color: var(--purple);
}
.white{
    background-color: var(--text);
}
.bg{
    background-color: var(--bg);
}
.comment{
    background-color: var(--comment);
}
.light{
    background-color: var(--light);
}
.black{
    background-color: var(--black);
}
.color .text {
    display: none;
}
.color:hover .text{
    display: block; 
}
.center{
    justify-content: center;
}
img{
    margin: 10px 0 80px 0;
    border-radius: 15px;
    filter: drop-shadow(0 5px 10px rgba(0,0,0,0.4))
}
#palette{
    margin-bottom: 100px;
}
a.btn{
    border: none;
    outline: none;
    background-color: #32363a;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    margin: 0 10px;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}
a.btn:hover{
    transform: translateY(-5px);
}
a.btn:hover div h3{
    color: var(--yellow);
}
a.btn img {
    width: 60px;
    height: 60px;
    border-radius: 0;
    margin:0 10px 0 0;
}
a.btn div {
    height: 60px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.whitespace{
    height: 60px;
}
#logo{
    height: 250px;
    margin-top: 100px;
    margin-bottom: 0;
}